<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h1 display-6 text-dark>Connectez-vous à votre profil utilisateur :</h1>
        <hr class="bg-dark mb-5" />
        <form
          [formGroup]="connectionUserFG"
          (ngSubmit)="onSubmitCallConnexion()"
        >
          <div class="style">
            <label for="pseudoInput">Votre pseudo : </label>

            <input
              type="text"
              pInputText
              placeholder="username"
              formControlName="pseudoFC"
              id="pseudoInput"
            />
          </div>
          <div class="style">
            <label for="passwordInput">Votre mot de passe : </label>

            <input
              type="password"
              pInputText
              placeholder="password"
              formControlName="passwordFC"
              id="passwordInput"
            />
          </div>
          <div class="style">
            <div class="d-flex">
              <button
                mat-stroked-button
                color="primary"
                class="btn btn-success mx-auto"
                type="submit"
                [disabled]="connectionUserFG.invalid"
              >
                Se connecter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
