<h1>Bienvenue veuillez créer vos matchs :</h1>
<div class="creation">
  <form [formGroup]="matchFG" (ngSubmit)="onSubmitCreateMatch()">
    <div>
      <label for="equipe1Input">Entrez le Nom de l'équipe 1:</label>
      <input type="text" formControlName="equipe1Input" required />
    </div>
    <div>
      <label for="equipe2Input">Entrez le Nom de l'équipe 2:</label>
      <input type="text" formControlName="equipe2Input" required />
    </div>
    <div>
      <label for="dateMacth">Quelle est la date du match : </label>
      <input matInput formControlName="dateMacth" [matDatepicker]="dateMacth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="dateMacth"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateMacth></mat-datepicker>
    </div>
    <!--<ng-container
      *ngIf="isPassedDate(this.matchFG.controls['dateMatch'].value)"
    >
      <div>
        <label for="score1Input">Score final équipe 1 :</label>
        <input type="number" formControlName="score1Input" />
      </div>
      <div>
        <label for="score2Input">Score final équipe 2:</label>
        <input type="number" formControlName="score2Input" required /></div
    ></ng-container>-->
    <button
      class="btn btn-success mx-auto"
      type="submit"
      [disabled]="matchFG.invalid"
    >
      Valider
    </button>
  </form>
</div>
