<h1>Bienvenue veuillez créer vos matchs :</h1>
<div class="creation">
  <form [formGroup]="matchFG">
    <div>
      <label for="equipe1Input">Entrez le Nom de l'équipe 1:</label>
      <input type="text" formControlName="equipe1Input" required />
    </div>
    <div>
      <label for="equipe2Input">Entrez le Nom de l'équipe 2:</label>
      <input type="text" formControlName="equipe2Input" required />
    </div>
    <div>
      <label for="dateMatch">Quelle est la date du match : </label>
      <input matInput formControlName="dateMatch" [matDatepicker]="dateMatch" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="dateMatch"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateMatch></mat-datepicker>
    </div>
    <!--<ng-container
      *ngIf="isPassedDate(this.matchFG.controls['dateMatch'].value)"
    >
      <div>
        <label for="score1Input">Score final équipe 1 :</label>
        <input type="number" formControlName="score1Input" />
      </div>
      <div>
        <label for="score2Input">Score final équipe 2:</label>
        <input type="number" formControlName="score2Input" required /></div
    ></ng-container>-->
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button
      mat-raised-button
      type="submit"
      [disabled]="matchFG.invalid"
      [mat-dialog-close]="generateMatch()"
      cdkFocusInitial
    >
      Valider
    </button>
  </form>
</div>
