@import "./../../colors.scss";
.header-bar {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 99;
  background-color: $background;
  color: $write;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  justify-content: space-between;
  padding-right: 30px;

  .nomappli {
    display: flex;
    gap: 8px;
    flex-direction: row;
    font-family: "Times New Roman", Times, serif;
    font-style: bold 10px;

    .mat-divider {
      border-right-width: 4px;
      border-right-style: solid;
      margin-top: 5px;
      margin-bottom: 5px;
      color: grey;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    .nav-item {
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 24px;
    }

    .nav-item:hover {
      color: $hover;
      cursor: pointer;
    }

    .menu onglet .nav-item {
      text-decoration: none;

      .deroulant {
        border: solid 1px;
        height: auto;

        .menu:hover {
          color: $hover;
          cursor: pointer;
        }
      }
    }
  }

  .logo {
    margin-left: 5px;
    top: 5px;
    width: 100px;
    height: 70px;
    background: url("/assets/img/star.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-bar-button {
    float: right;
    border-radius: 15px 50px;
    margin-top: 5px;
    margin-right: 15px;
  }
  .header-bar-button:hover {
    background-color: $hover;
  }
  .vip {
    color: $vip;
    font-weight: bold;
  }
}
