<div class="header-bar">
  <div class="logo"></div>
  <div class="menu">
    <ul class="header-bar-navbar">
      <ul>
        <li class="menu onglet nav-item" (click)="navigate('/')">Home</li>
        <div class="deroulant">
          <li class="onglet nav-item" (click)="navigate('/user/')">
            Mon Profil
          </li>
          <li class="onglet nav-item">Config</li>
        </div>
      </ul>

      <li class="nav-item" (click)="navigate('/sessions')">Sessions</li>
      <li class="nav-item" (click)="navigate('/bets')">Mes derniers paris</li>
    </ul>
  </div>
  <button
    *ngIf="!isAuthenticated(); else login"
    class="header-bar-button"
    type="button"
    (click)="navigate('/user')"
  >
    Se connecter
  </button>
  <ng-template #login
    ><span [ngClass]="{ vip: authentService.isVip() }"
      >Bonjour {{ authentService.getCurrentUser() }}</span
    ></ng-template
  >
</div>
