<div class="header-bar">
  <div class="nomappli">
    <div class="logo"></div>
    <h1>My friend's Bet</h1>
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <div class="menu">
    <div class="menu-item nav-item" (click)="navigate('/home')">Home</div>
    <div class="menu-item nav-item" (click)="navigate('/user/:pseudo')">
      Mon Profil
    </div>
    <div class="menu-item nav-item" (click)="navigate('/sessions/')">
      Sessions
    </div>
    <div class="menu-item nav-item" (click)="navigate('/bets')">
      Mes derniers paris
    </div>
  </div>
  <button
    button
    pButton
    pRipple
    type="button"
    label="Secondary"
    class="p-button-rounded p-button-secondary"
    (click)="navigate('/user')"
  >
    Se connecter
  </button>
  <ng-template #login
    ><span [ngClass]="{ vip: authentService.isVip() }"
      >Bonjour {{ authentService.getCurrentUser() }}</span
    ></ng-template
  >
</div>
