@import "./colors.scss";

.contenu {
  background-color: $background-contenu;
  color: $write-contenu;
  margin: 0;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
}

.header {
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
}
