@import "./colors.scss";
.contenu {
  background-color: $background-contenu;
  color: $write-contenu;
  margin: 0;
  height: 100vw;
  width: 100%;
  margin-top: 20px;
}

.header {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
}
