$background: rgb(209, 212, 196);
$write: rgb(17, 12, 73);
$background-contenu: darkgray;
$write-contenu: black;
$hover: rgb(7, 7, 7);
$background-button: rgb(17, 12, 73);
$vip: cadetblue;
$beige: beige;
$noir: black;
