$background: rgb(209, 212, 196);
$write: rgb(17, 12, 73);
$background-contenu: rgb(108, 143, 220);
$write-contenu: black;
$hover: rgb(7, 7, 7);
$background-button: rgb(17, 12, 73);
$vip: rgb(119, 0, 255);
$beige: beige;
$noir: black;
