.div {
  display: table;
  width: 100%;
  margin: auto;

  form {
    display: table-cell;
    vertical-align: middle;

    form-group {
      font-weight: bold;
      text-align: center;
    }
  }
}
