nav {
    width: 100%;
    position: absolute;
    background-color: rgb(240, 247, 242);
    margin: 0;
    padding: 0%;

    div {

        button {
            float: right;
            padding-right: 30px;
            height: 70 px;
            text-align: center;
        }

        #navbarNav ul {
            position: sticky;
            top: 0;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 20px;
            overflow: hidden;
            text-align: center;

            li {
                display: inline;


                a {
                    color: rgb(35, 95, 27);
                    font-weight: bold;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;

                    a:hover {
                        background-color: rgb(22, 24, 87);
                    }
                }

            }
        }
    }
}