@import "../../../colors.scss";
.body {
  margin-left: auto;
  margin-right: auto;
  width: 500px; /* largeur obligatoire pour être centré */
  text-align: center;
  padding-top: 50px;

  .p-inputgroup {
    margin-top: 20px;

    .p-inputgroup-addon {
      width: 200px;
    }

    input {
      width: 250px;
    }
  }

  button {
    margin-top: 20px;
    font-weight: bolder;
    width: 100px;
  }
}
